{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.append_collection' %}
  {% include 'custom_fields.collections.video_image' %}
  {% include 'custom_fields.collections.video_link' %}
  {% include 'custom_fields.collections.product_image_text_blocks' %}
  {% include 'custom_fields.collections.backorder_message' %}
</div>