{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/yellow-leaf-hammocks-2.myshopify.com/collections/configure/162852/edit
{% endcomment %}
{% if collection.metafields.custom_fields["feature_2"] != blank %}
  <div class="custom-field custom-field__feature-2 custom-field__type--text-list">
    <h3 class="custom-field--title">Feature 2</h3>
    <div class="custom-field--value">  
      {{ collection.metafields.custom_fields["feature_2"] }}
    </div>
  </div>
{% endif %}