{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/yellow-leaf-hammocks-2.myshopify.com/products/configure/165041/edit
{% endcomment %}
{% if product.metafields.custom_fields["accordion_section_subtitle"] != blank %}
  <div class="custom-field custom-field__accordion-section-subtitle custom-field__type--text">
    <h3 class="custom-field--title">Accordion Section Subtitle</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["accordion_section_subtitle"] }}
    </div>
  </div>
{% endif %}