<div class="product-reviews">
  <div class="container container--lg">
    <div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}">{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
  </div>
</div>