{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.hero_image' %}
  {% include 'custom_fields.products.hero_accent_text' %}
  {% include 'custom_fields.products.hero_title' %}
  {% include 'custom_fields.products.hero_button_link' %}
  {% include 'custom_fields.products.hero_button_text' %}
  {% include 'custom_fields.products.product_tabs' %}
  {% include 'custom_fields.products.video_image' %}
  {% include 'custom_fields.products.video_link' %}
  {% include 'custom_fields.products.product_image_text_blocks' %}
  {% include 'custom_fields.products.backorder_message' %}
</div>