<div class="svg-stars" aria-hidden="true">
  <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path id="svg-star-full" d="M6.15177 0.726234C6.46255 -0.170471 7.73071 -0.170471 8.04149 0.726234L8.90587 3.22024C9.04539 3.62281 9.42466 3.89277 9.85073 3.89277H12.5035C13.4878 3.89277 13.88 5.16516 13.0665 5.71926L11.0337 7.10386C10.6604 7.35812 10.5039 7.83106 10.6518 8.25782L11.454 10.5725C11.7694 11.4826 10.7423 12.2687 9.94622 11.7265L7.65958 10.169C7.31993 9.93763 6.87333 9.93763 6.53368 10.169L4.24705 11.7265C3.45098 12.2687 2.42382 11.4826 2.73923 10.5725L3.54147 8.25782C3.68937 7.83106 3.53285 7.35812 3.15955 7.10386L1.12677 5.71926C0.313272 5.16516 0.705442 3.89277 1.68972 3.89277H4.34253C4.7686 3.89277 5.14787 3.62281 5.2874 3.22024L6.15177 0.726234Z" fill="#45C5F7"/>
  </svg>
  <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path id="svg-star-empty" d="M6.20554 0.726234C6.51632 -0.170471 7.78448 -0.170471 8.09526 0.726234L8.95964 3.22024C9.09916 3.62281 9.47844 3.89277 9.9045 3.89277H12.5573C13.5416 3.89277 13.9338 5.16516 13.1203 5.71926L11.0875 7.10386C10.7142 7.35812 10.5577 7.83106 10.7056 8.25782L11.5078 10.5725C11.8232 11.4826 10.796 12.2687 9.99999 11.7265L7.71335 10.169C7.3737 9.93763 6.9271 9.93763 6.58745 10.169L4.30082 11.7265C3.50476 12.2687 2.47759 11.4826 2.79301 10.5725L3.59524 8.25782C3.74315 7.83106 3.58663 7.35812 3.21333 7.10386L1.18054 5.71926C0.367044 5.16516 0.759214 3.89277 1.74349 3.89277H4.39631C4.82237 3.89277 5.20164 3.62281 5.34117 3.22024L6.20554 0.726234Z" fill="#E9E9E9"/>
  </svg>
</div>
